---
import Layout from '@layouts/Layout.astro'

import OpenGraph from '@components/OpenGraph.astro'
import Navbar from '@components/Navbar.astro'
import Topbar from '@components/Topbar.astro'
import Playground from '@components/ui/Playground.astro'

const options = {
  title: 'Codepen Concept',
  description: 'Diseño experimental de Codepen, creado por BlurSoul.'
}
---

<Layout options={options}>
  <OpenGraph title={options.title} description={options.description} image="/og/og.jpg" slot="social-media" />

  <main>
    <Topbar />
    <Navbar />
    <Playground />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
  }
</style>
