---
import Layout from '@layouts/Layout.astro'

import OpenGraph from '@components/OpenGraph.astro'
import Navbar from '@components/Navbar.astro'
import Topbar from '@components/Topbar.astro'
import Playground from '@components/ui/Playground.astro'

const options = {
  title: 'Codepen Concept',
  description: 'Diseño experimental de Codepen, creado por BlurSoul.'
}
---

<Layout options={options}>
  <OpenGraph title={options.title} description={options.description} slot="social" />

  <main>
    <Topbar />
    <Navbar />
    <Playground />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 32px;
    height: inherit
  }
</style>
