---
import avatar from '@images/avatar.png'
import Button from '@ui/Button.astro'
import { Picture } from 'astro:assets'
---

<nav>
  <Button icon="home" />

  <div>
    <Button icon="gear" />
    <Button icon="console" />
    <Button icon="cloud" />
    <Button icon="library" />
    <Button icon="more" />
  </div>

  <a href="/">
    <Picture
      src={avatar}
      alt="Logo del usuario"
      width={56}
      height={56}
      formats={['avif', 'webp']}
      fetchpriority="high"
      loading="eager"
    />
  </a>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1856px;
    margin-inline: auto;
    padding-top: 32px;

    div {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
</style>
