---
import { Picture } from 'astro:assets'

import '@styles/gradient.css'

import avatar from '@images/avatar.png'

import Button from '@ui/Button.astro'
---

<nav>
  <Button icon="home" />

  <div>
    <Button icon="gear" />
    <Button icon="console" />
    <Button class="active" icon="cloud" />
    <Button icon="library" />
    <Button icon="more" />
  </div>

  <a class="gradient" href="/">
    <Picture
      alt="Logo del usuario"
      fetchpriority="high"
      formats={['avif', 'webp']}
      height={56}
      loading="eager"
      src={avatar}
      width={56}
    />
  </a>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1856px;
    margin-inline: auto;

    div {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
</style>
