---
import { Icon } from 'astro-icon/components'
---

<div class="topbar">
  <a class="logo" href="https://github.com/felixicaza/codepen-concept" target="_blank" rel="noopener noreferrer">
    <span>
      <Icon name="logo" size={20} />
    </span>
    <span class="text">Codepen</span>
  </a>
  <div class="title">
    <span id="title-project" class="text" contenteditable>Quadrants CSS Design</span>
    <button id="edit" type="button" class="icon">
      <Icon name="pencil" size={16} />
    </button>
  </div>
</div>

<script>
  const titleProject = document.querySelector('#title-project') as HTMLSpanElement
  const editButton = document.querySelector('#edit') as HTMLButtonElement

  editButton?.addEventListener('click', () => {
    if (titleProject) {
      const range = document.createRange()
      range.selectNodeContents(titleProject)

      const selection = window.getSelection()
      selection?.removeAllRanges()
      selection?.addRange(range)
      titleProject.focus()
    }
  })
</script>

<style>
  .topbar {
    --bg-gradient: linear-gradient(#fafafa 10%, #888 90%);

    background: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 14px;

    & .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      text-decoration: none;

      & .text {
        background: var(--bg-gradient);
        color: transparent;
        background-clip: text;
        font-size: 20px;
      }
    }

    & .title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      width: fit-content;

      & .text {
        font-size: 20px;
        background: var(--bg-gradient);
        color: transparent;
        background-clip: text;
        white-space: nowrap;
        cursor: text;
        padding-inline: 2px;
        border-radius: 4px;

        &:focus-within {
          outline: 2px solid #222;
        }
      }

      & .icon {
        cursor: pointer;
        border: none;

        & * {
          pointer-events: none;
        }
      }
    }
  }
</style>
