---
import { Icon } from 'astro-icon/components'

interface Props {
  icon: string
}

const { icon } = Astro.props as Props
---

<button class="gradient" type="button">
  <Icon name={icon} size={28} />
</button>

<style>
  button {
    padding: 14px;
  }
</style>
