---
import { Icon } from 'astro-icon/components'

interface Props {
  icon: string
  class?: string
}

const { icon, class: className } = Astro.props as Props
---

<button class:list={['gradient', className]} type="button">
  <Icon name={icon} size={28} />
</button>

<style>
  button {
    padding: 14px;
  }
</style>
