---
import { Icon } from 'astro-icon/components'

import '@styles/editor.css'
---

<section>
  <div class="code-container">
    <div class="tools-container">
      <div class="code-tools">
        <button type="button">
          <Icon name="container/html" size={20} />
        </button>
        <button type="button">
          <Icon name="container/css" size={20} />
        </button>
        <button type="button">
          <Icon name="container/javascript" size={20} />
        </button>
      </div>
      <div class="options-tools">
        <button type="button">
          <Icon name="container/settings" size={16} />
        </button>
        <button type="button">
          <Icon height={4} name="container/options" width={18} />
        </button>
      </div>
    </div>
    <div class="code"></div>
  </div>
  <div class="preview-container">
    <button type="button">
      <Icon height={6} name="container/toolbar-options" width={28} />
    </button>
  </div>
</section>

<script>
import { basicSetup } from 'codemirror'
import { EditorView } from '@codemirror/view'
import { css } from '@codemirror/lang-css'

import theme from '@scripts/editor-theme'

const codeElement = document.querySelector('.code')

if (codeElement) {
  const editor = new EditorView({
    doc: `html,body{
  margin:0;
  height:100vh;
}

body{
  display:grid;
  place-items:center;
  background:#010307;
}

.container{
  display:grid;
  place-items:center;
}

.lines-container{
  display:grid;
  z-index:2;
  place-items:center;
  height:550px;
  width:550px;
}

.line-1{
  display:flex;
  height:550px;
  width:3px;
  background:linear-gradient(transparent,#83ccff,transparent);
}`,
    parent: codeElement,
    extensions: [basicSetup, css(), theme]
  })

  console.log(editor)
}
</script>

<style>
  section {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 16px;
    background-color: #1a1a1a;
    width: 100%;
    max-width: 1856px;
    margin-inline: auto;
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 32px;
    overflow-y: hidden;

    .code-container {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 16px;
      background: #0a0a0a;
      border-radius: 16px;
      padding: 24px 24px 21px 24px;
      overflow-y: inherit;

      .tools-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .code-tools {
          display: flex;
          align-items: center;
          gap: 24px;

          button {
            --size: 48px;

            background: linear-gradient(to top, #111, #333);
            border: none;
            cursor: pointer;
            display: grid;
            place-items: center;
            padding: 0;
            width: var(--size);
            height: var(--size);
            border-radius: 8px;
            transition:
              background,
              box-shadow 300ms ease;
            will-change: background, box-shadow;

            &:hover {
              background: linear-gradient(to top, #33a9dc, #33a9dc);
              box-shadow: 0 0 20px #33a9dc;
            }
          }
        }

        .options-tools {
          display: flex;
          align-items: center;
          gap: 16px;

          button {
            --size: 32px;

            width: var(--size);
            height: var(--size);
            display: grid;
            place-items: center;
            border: none;
            cursor: pointer;
            padding: 0px;
          }
        }
      }

      .code {
        overflow-y: inherit;
      }
    }

    .preview-container {
      position: relative;
      background-color: #0a0a0a;
      border-radius: 16px;

      button {
        --size: 48px;

        background-color: #0a0a0a;
        border: none;
        padding: 0;
        display: grid;
        place-items: center;
        border-radius: 8px;
        cursor: pointer;
        width: var(--size);
        height: var(--size);
        position: absolute;
        bottom: 0;
        right: 0;
        translate: -21px -24px;
      }
    }
  }
</style>
